﻿@model Libiary.Models.Rrader

@{
    ViewData["Title"] = "Delete";
}
<h3>Are you sure you want to delete this?</h3>
<div>
    <form method="post">
        <legend>读者信息</legend>
        @Html.HiddenFor(model => model.RraderId)
        <div class="layui-form-item">
            <label class="layui-form-label"style="width:120px">名字</label>
            <div class="layui-input">
                <div class="layui-input-block">
                    @Html.DisplayFor(model => model.RraderName)
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"style="width:120px">年龄</label>
            <div class="layui-input">
                <div class="layui-input-block">
                    @Html.DisplayFor(model => model.Age)
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"style="width:120px">住址</label>
            <div class="layui-input">
                <div class="layui-input-block">
                    @Html.DisplayFor(model => model.Address)
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"style="width:120px">联系电话</label>
            <div class="layui-input">
                <div class="layui-input-block">
                    @Html.DisplayFor(model => model.Phone)
                </div>
            </div>
        </div>
    </form>

    <form asp-action="Delete">
        <input type="hidden" asp-for="RraderId"/>
        <p>
            <button class="layui-btn" type="submit">确认删除</button>
        </p> |
        <a asp-action="Index">返回列表</a>
    </form>
</div>
