﻿@model Libiary.Models.Rrader

@{
    ViewData["Title"] = "Details";
}
<form method="post">
    <legend>读者信息</legend>
    @Html.HiddenFor(model => model.RraderId)
    <div class="layui-form-item">
        <label class="layui-form-label"style="width:120px">姓名</label>
        <div class="layui-input">
            <div class="layui-input-block">
                @Html.DisplayFor(model => model.RraderName)
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"style="width:120px">年龄</label>
        <div class="layui-input">
            <div class="layui-input-block">
                @Html.DisplayFor(model => model.Age)
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"style="width:120px">住址</label>
        <div class="layui-input">
            <div class="layui-input-block">
                @Html.DisplayFor(model => model.Address)
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"style="width:120px">联系电话</label>
        <div class="layui-input">
            <div class="layui-input-block">
                @Html.DisplayFor(model => model.Phone)
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RraderId">修改</a> |
    <a asp-action="Index">返回列表</a>
</div>
