﻿@model Libiary.Models.Rrader

@{
    ViewData["Title"] = "Edit";
}
<form method="post">
    <legend>读者信息</legend>
    @Html.HiddenFor(model => model.RraderId)
    <div class="layui-form-item">
        <label class="layui-form-label"style="width:120px">姓名</label>
        <div class="layui-input">
            <div class="layui-input-block">
                @Html.EditorFor(model => model.RraderName)
                @Html.ValidationMessageFor(model => model.RraderName)
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"style="width:120px">年龄</label>
        <div class="layui-input">
            <div class="layui-input-block">
                @Html.EditorFor(model => model.Age)
                @Html.ValidationMessageFor(model => model.Age)
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"style="width:120px">住址</label>
        <div class="layui-input">
            <div class="layui-input-block">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"style="width:120px">联系电话</label>
        <div class="layui-input">
            <div class="layui-input-block">
                @Html.EditorFor(model => model.Phone)
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>
    </div>
    <p>
        <button class="layui-btn" type="submit">立即提交</button>
    </p>
</form>

<div>
    <a asp-action="Index">返回列表</a>
</div>