﻿@model IEnumerable<Libiary.Models.Rrader>

@{
    ViewData["Title"] = "Index";
}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>个人信息</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link href="~/MB/common/layui/css/layui.css" rel="stylesheet" />
        <link href="~/MB/common/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/MB/common/global.css" rel="stylesheet" />
        <link href="~/MB/css/personal.css" rel="stylesheet" />
    </head>
    <body>
        <section class="layui-larry-box">
            <div class="larry-personal">
                <div class="layui-tab">
                    <blockquote class="layui-elem-quote news_search">
                        <div class="layui-inline">
                            @using (Html.BeginForm())
                            {
                                <div class="layui-input-inline">
                                    <input name="name" placeholder="请输入关键字" class="layui-input search_input" type="text">
                                </div>
                                <input class="layui-btn search_btn" type="submit" value="查询" />
                            }
                        </div><div class="layui-inline">
                            <a class="layui-btn layui-btn-normal newsAdd_btn" href="/Rraders/Create">添加</a>
                        </div>
                    </blockquote>
                    <div class="layui-tab-content larry-personal-body clearfix mylog-info-box">
                        <!-- 操作日志 -->
                        <div class="layui-tab-item layui-field-box layui-show">
                            <table class="layui-table table-hover" lay-even="" lay-skin="nob">
                                <thead>
                                    <tr>
                                        <th style="width:100px;padding:9px 15px">
                                            姓名
                                        </th>
                                        <th style="width:100px;padding:9px 15px">
                                            年龄
                                        </th>
                                        <th>
                                            住址
                                        </th>
                                        <th>
                                            联系电话
                                        </th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style="padding:9px 15px">
                                                @Html.DisplayFor(modelItem => item.RraderName)
                                            </td>
                                            <td style="padding:9px 15px">
                                                @Html.DisplayFor(modelItem => item.Age)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Address)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Phone)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.RraderId">编辑</a> |
                                                <a asp-action="Details" asp-route-id="@item.RraderId">详情</a> |
                                                <a asp-action="Delete" asp-route-id="@item.RraderId">删除</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="~/MB/common/layui/layui.js"></script>
        <script type="text/javascript">
        layui.use(['jquery', 'layer', 'element', 'laypage'], function () {
            window.jQuery = window.$ = layui.jquery;
            window.layer = layui.layer;
            var element = layui.element(),
                laypage = layui.laypage;
            laypage({
                cont: 'page',
                pages: 10 //总页数
                ,
                groups: 5 //连续显示分页数
                ,
                jump: function (obj, first) {
                    //得到了当前页，用于向服务端请求对应数据
                    var curr = obj.curr;
                    if (!first) {
                        //layer.msg('第 '+ obj.curr +' 页');
                    }
                }
            });
            laypage({
                cont: 'page2',
                pages: 10 //总页数
                ,
                groups: 5 //连续显示分页数
                ,
                jump: function (obj, first) {
                    //得到了当前页，用于向服务端请求对应数据
                    var curr = obj.curr;
                    if (!first) {
                        //layer.msg('第 '+ obj.curr +' 页');
                    }
                }
            });
        });
        </script>
    </body>
    </html>
