﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LarryCMS后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <!-- load css -->
    <link href="~/MB/common/layui/css/layui.css" rel="stylesheet" />
    <link href="~/MB/common/global.css" rel="stylesheet" />
    <link href="~/MB/css/adminstyle.css" rel="stylesheet" />
    <script src="~/MB/common/bootstrap/js/bootstrap.js"></script>
    <link href="~/MB/common/bootstrap/css/bootstrap.css" rel="stylesheet" />



</head>
<body>
    <div class="layui-layout layui-layout-admin" id="layui_layout">
        <!-- 顶部区域 -->
        <div class="layui-header header header-demo">
            <div class="layui-main">
                <!-- logo区域 -->
                <div class="admin-logo-box">
                    <a class="logo" title="logo">图书管理系统</a>
                    <div class="larry-side-menu">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </div>
                </div>
                <!-- 顶级菜单区域 -->
                <!-- 右侧导航 -->
                <ul class="layui-nav larry-header-item" style="margin-top:20px;margin:20px 0px 0px">
                    <li class="layui-nav-item">
                        <dl>
                            <dd style="float:left;height:22px">账户名：@login.name.UserName</dd>
                            <dd style="float:left;height:22px">@login.name.UserType.UserTypeName</dd>
                            <dd style="float:left;height:22px">
                                <a href="/Users/Edit?id=@login.name.UserId" id="@login.name.UserId">个人信息</a>
                            </dd>
                            @*<dd style="float:left">@Html.ActionLink("个人信息", "UsersEdit", new { id = login.name.UserId })</dd>*@
                        </dl>
                    </li>
                    <li class="layui-nav-item" >
                        <dl>
                            <dd>
                                <a href="/Users/Login">
                                    <i class="iconfont icon-exit"></i>
                                    退出
                                </a>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 左侧侧边导航开始 -->
        <div class="layui-side layui-side-bg layui-larry-side" id="larry-side">
            <div class="layui-side-scroll" id="larry-nav-side" lay-filter="side">

                <!-- 左侧菜单 -->
                <ul class="layui-nav layui-nav-tree">
                    <li class="layui-nav-item layui-this">
                        <a href="javascript:;" data-url="main.html">
                            <i class="iconfont icon-home1" data-icon='icon-home1'></i>
                            <span>后台首页</span>
                        </a>
                    </li>

                    @if (login.name.UserTypeId != 5)
                    {
                        @if (login.name.UserTypeId == 1)
                        {

                            <!-- 图书馆里 -->
                            <li class="layui-nav-item">
                                <a href="javascript:;">
                                    <i class="iconfont icon-jiaoseguanli"></i>
                                    <span>图书管理</span>
                                    <em class="layui-nav-more"></em>
                                </a>
                                <dl class="layui-nav-child">
                                    <dd>
                                        <a href="/Books/Index" data-url="personInfo.html">
                                            <i class="iconfont icon-geren1" data-icon='icon-geren1'></i>
                                            <span>图书信息</span>
                                        </a>
                                    </dd>
                                </dl>
                            </li>
                            <!-- 借还管理 -->
                            <li class="layui-nav-item">
                                <a href="javascript:;">
                                    <i class="iconfont icon-jiaoseguanli2"></i>
                                    <span>借还管理</span>
                                    <em class="layui-nav-more"></em>
                                </a>
                                <dl class="layui-nav-child">
                                    <dd>
                                        <a href="/Borrows/Index" data-url="table.html">
                                            <i class="iconfont icon-yonghu1" data-icon='icon-yonghu1'></i>
                                            <span>借还信息</span>
                                        </a>
                                    </dd>
                                    >
                                </dl>
                            </li>
                        }

                        <!-- 用户管理 -->
                        <li class="layui-nav-item">
                            <a href="javascript:;">
                                <i class="iconfont icon-jiaoseguanli2"></i>
                                <span>用户管理</span>
                                <em class="layui-nav-more"></em>
                            </a>
                            <dl class="layui-nav-child">
                                <dd>
                                    <a href="/Users/Index" data-url="table.html">
                                        <i class="iconfont icon-yonghu1" data-icon='icon-yonghu1'></i>
                                        <span>用户信息</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="/UserTypes/Index" data-url="table.html">
                                        <i class="iconfont icon-yonghu1" data-icon='icon-yonghu1'></i>
                                        <span>用户类型</span>
                                    </a>
                                </dd>
                                <dd>
                                    <a href="/Rraders/Index" data-url="table_1.html">
                                        <i class="iconfont icon-jiaoseguanli4" data-icon='icon-jiaoseguanli4'></i>
                                        <span>读者信息</span>
                                    </a>
                                </dd>
                            </dl>
                        </li>
                    }
                    <!-- 查询图书信息 -->
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <i class="iconfont icon-jiaoseguanli"></i>
                            <span>查询图书</span>
                            <em class="layui-nav-more"></em>
                        </a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="/Books/UserSelect" data-url="personInfo.html">
                                    <i class="iconfont icon-geren1" data-icon='icon-geren1'></i>
                                    <span>图书信息</span>
                                </a>
                            </dd>
                        </dl>
                    </li>

                    <!-- 会员管理 -->
                </ul>
            </div>
        </div>
        <!-- 左侧侧边导航结束 -->
        <!-- 右侧主体内容 -->
        <div style="margin-left:200px;">
            @RenderBody()
        </div>
        <!-- 底部区域 -->
        <div class="layui-footer layui-larry-foot" id="larry-footer">
            <div class="layui-mian">
                <p class="p-admin">
                    <span>2019 &copy;</span>
                    版权所有
                </p>
            </div>
        </div>
    </div>
    <!-- 加载js文件-->
    <script src="~/MB/common/layui/layui.js"></script>
    <script src="~/MB/js/larry.js"></script>
    <script src="~/MB/js/index.js"></script>


</body>
</html>




