﻿@model Libiary.Models.Books

@{
    ViewData["Title"] = "Create";
}
    <form method="post">
        <legend>添加图书信息</legend>
        @Html.HiddenFor(model => model.BookId)
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px">图书名称</label>
            <div class="layui-input">
                <div class="layui-input-block">
                    @Html.EditorFor(model => model.BookName)
                    @Html.ValidationMessageFor(model => model.BookName)
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px">作者</label>
            <div class="layui-input">
                <div class="layui-input-block">
                    @Html.EditorFor(model => model.Author)
                    @Html.ValidationMessageFor(model => model.Author)
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px">出版社</label>
            <div class="layui-input">
                <div class="layui-input-block">
                    @Html.EditorFor(model => model.Press)
                    @Html.ValidationMessageFor(model => model.Press)
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px">出版日期</label>
            <div class="layui-input">
                <div class="layui-input-block">
                    @Html.EditorFor(model => model.PubDate)
                    @Html.ValidationMessageFor(model => model.PubDate)
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px">图书简介</label>
            <div class="layui-input">
                <div class="layui-input-block">
                    @Html.EditorFor(model => model.Jjie)
                    @Html.ValidationMessageFor(model => model.Jjie)
                </div>
            </div>
        </div>
        <p>
            <button class="layui-btn" type="submit">立即提交</button>
        </p>
    </form>
<div>
    <a asp-action="Index">返回列表</a>
</div>


