﻿@model Libiary.Models.Books

@{
    ViewData["Title"] = "Details";
}
<form method="post">
    <legend>图书信息</legend>
    @Html.HiddenFor(model => model.BookId)
    <div class="layui-form-item">
        <label class="layui-form-label"style="width:120px">图书名称</label>
        <div class="layui-input">
            <div class="layui-input-block">
                @Html.DisplayFor(model => model.BookName)
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"style="width:120px">作者</label>
        <div class="layui-input">
            <div class="layui-input-block">
                @Html.DisplayFor(model => model.Author)
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"style="width:120px">出版社</label>
        <div class="layui-input">
            <div class="layui-input-block">
                @Html.DisplayFor(model => model.Press)
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"style="width:120px">出版日期</label>
        <div class="layui-input">
            <div class="layui-input-block">
                @Html.DisplayFor(model => model.PubDate)
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"style="width:120px">图书简介</label>
        <div class="layui-input">
            <div class="layui-input-block">
                @Html.DisplayFor(model => model.Jjie)
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookId">修改</a> |
    <a asp-action="Index">返回列表</a>
</div>
