﻿@model Libiary.Models.Borrow

@{
    ViewData["Title"] = "Delete";
}
<div>
    <form method="post">
        <legend>图书借还信息</legend>
        @Html.HiddenFor(model => model.BorrowId)
        <div class="layui-form-item">
            <label class="layui-form-label"style="width:120px">图书名称</label>
            <div class="layui-input">
                <div class="layui-input-block">
                    @Html.DisplayNameFor(model => model.BookName)
                    @Html.DisplayFor(model => model.BookName)
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"style="width:120px">读者名字</label>
            <div class="layui-input">
                <div class="layui-input-block">
                    @Html.DisplayNameFor(model => model.ReaderName)
                    @Html.DisplayFor(model => model.ReaderName)
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"style="width:120px">借阅日期</label>
            <div class="layui-input">
                <div class="layui-input-block">
                    @Html.DisplayNameFor(model => model.BorrowDate)
                    @Html.DisplayFor(model => model.BorrowDate)
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"style="width:120px">借阅天数</label>
            <div class="layui-input">
                <div class="layui-input-block">
                    @Html.DisplayNameFor(model => model.Days)
                    @Html.DisplayFor(model => model.Days)
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"style="width:120px">归还日期</label>
            <div class="layui-input">
                <div class="layui-input-block">
                    @Html.DisplayNameFor(model => model.GuihDate)
                    @Html.DisplayFor(model => model.GuihDate)
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"style="width:120px">作者</label>
            <div class="layui-input">
                <div class="layui-input-block">
                    @Html.DisplayNameFor(model => model.Book)
                    @Html.DisplayFor(model => model.Book.Author)
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"style="width:120px">读者编号</label>
            <div class="layui-input">
                <div class="layui-input-block">
                    @Html.DisplayNameFor(model => model.Reader)
                    @Html.DisplayFor(model => model.Reader.RraderId)
                </div>
            </div>
        </div>
    </form>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BorrowId" />
        <p>
            <button class="layui-btn" type="submit">立即提交</button>
        </p> |
        <a asp-action="Index">返回列表</a>
    </form>
</div>
