﻿@model Libiary.Models.Borrow

@{
    ViewData["Title"] = "Edit";
}
    <form method="post">
        <legend>修改借还信息</legend>
        @Html.HiddenFor(model => model.BorrowId)
        <div class="layui-form-item">
            <label class="layui-form-label"style="width:120px">图书编号</label>
            <div class="layui-input">
                <div class="layui-input-block">
                    @Html.EditorFor(model => model.BookId)
                    @Html.ValidationMessageFor(model => model.BookId)
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"style="width:120px">图书名称</label>
            <div class="layui-input">
                <div class="layui-input-block">
                    @Html.EditorFor(model => model.BookName)
                    @Html.ValidationMessageFor(model => model.BookName)
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"style="width:120px">读者编号</label>
            <div class="layui-input">
                <div class="layui-input-block">
                    @Html.EditorFor(model => model.ReaderId)
                    @Html.ValidationMessageFor(model => model.ReaderId)
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"style="width:120px">读者姓名</label>
            <div class="layui-input">
                <div class="layui-input-block">
                    @Html.EditorFor(model => model.ReaderName)
                    @Html.ValidationMessageFor(model => model.ReaderName)
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"style="width:120px">借阅日期</label>
            <div class="layui-input">
                <div class="layui-input-block">
                    @Html.EditorFor(model => model.BorrowDate)
                    @Html.ValidationMessageFor(model => model.BorrowDate)
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"style="width:120px">借阅天数</label>
            <div class="layui-input">
                <div class="layui-input-block">
                    @Html.EditorFor(model => model.Days)
                    @Html.ValidationMessageFor(model => model.Days)
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"style="width:120px">归还日期</label>
            <div class="layui-input">
                <div class="layui-input-block">
                    @Html.EditorFor(model => model.GuihDate)
                    @Html.ValidationMessageFor(model => model.GuihDate)
                </div>
            </div>
        </div>
        <p>
            <button class="layui-btn" type="submit">立即提交</button>
        </p>
    </form>
<div>
    <a asp-action="Index">返回列表</a>
</div>
