﻿@model Libiary.Models.UserType

@{
    ViewData["Title"] = "Details";
}
<form method="post">
    <legend>用户类型信息</legend>
    @Html.HiddenFor(model => model.UserTypeId)
    <div class="layui-form-item">
        <label class="layui-form-label"style="width:120px">类型编号</label>
        <div class="layui-input">
            <div class="layui-input-block">
                @Html.DisplayFor(model => model.UserTypeId)
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"style="width:120px">类型名字</label>
        <div class="layui-input">
            <div class="layui-input-block">
                @Html.DisplayFor(model => model.UserTypeName)
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserTypeId">修改</a> |
    <a asp-action="Index">返回列表</a>
</div>
