﻿@model Libiary.Models.UserType

@{
    ViewData["Title"] = "Edit";
}

    <form method="post">
        <legend>修改用户类型信息</legend>
        @Html.HiddenFor(model => model.UserTypeId)
        <div class="layui-form-item">
            <label class="layui-form-label"style="width:120px">类型编号</label>
            <div class="layui-input">
                <div class="layui-input-block">
                    @Html.EditorFor(model => model.UserTypeId)
                    @Html.ValidationMessageFor(model => model.UserTypeId)
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"style="width:120px">类型名字</label>
            <div class="layui-input">
                <div class="layui-input-block">
                    @Html.EditorFor(model => model.UserTypeName)
                    @Html.ValidationMessageFor(model => model.UserTypeName)
                </div>
            </div>
        </div>
        <p>
            <button class="layui-btn" type="submit">立即提交</button>
        </p>
    </form>

<div>
    <a asp-action="Index">返回列表</a>
</div>

