﻿@model IEnumerable<Libiary.Models.UserType>

@{
    ViewData["Title"] = "Index";
}
    <html lang="en">
    <body>
        <section class="layui-larry-box">
            <div class="larry-personal">
                <div class="layui-tab">
                    <blockquote class="layui-elem-quote news_search">
                        <div class="layui-inline">
                            @using (Html.BeginForm())
                            {
                                <div class="layui-input-inline">
                                    <input name="name" placeholder="请输入关键字" class="layui-input search_input" type="text">
                                </div>
                                <input class="layui-btn search_btn" type="submit" value="查询" />
                            }
                        </div><div class="layui-inline">
                            <a class="layui-btn layui-btn-normal newsAdd_btn" href="/UserTypes/Create">添加</a>
                        </div>
                    </blockquote>
                    <div class="layui-tab-content larry-personal-body clearfix mylog-info-box">
                        <!-- 操作日志 -->
                        <div class="layui-tab-item layui-field-box layui-show">
                            <table class="layui-table table-hover" lay-even="" lay-skin="nob">
                                <thead>
                                    <tr>
                                        <th>
                                            类型编号
                                        </th>
                                        <th>
                                            类型名字
                                        </th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UserTypeId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UserTypeName)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.UserTypeId">编辑</a> |
                                                <a asp-action="Details" asp-route-id="@item.UserTypeId">详情</a> |
                                                <a asp-action="Delete" asp-route-id="@item.UserTypeId">删除</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
    </html>
