﻿@model Libiary.Models.User

@{
    ViewData["Title"] = "Delete";
}
<div>
    <form method="post">
        <legend>用户信息</legend>
        @Html.HiddenFor(model => model.UserId)
        <div class="layui-form-item">
            <label class="layui-form-label"style="width:120px">账号</label>
            <div class="layui-input">
                <div class="layui-input-block">
                    @Html.DisplayFor(model => model.UserName)
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"style="width:120px">类型</label>
            <div class="layui-input">
                <div class="layui-input-block">
                    @Html.DisplayFor(model => model.UserTypeId)
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"style="width:120px">密码</label>
            <div class="layui-input">
                <div class="layui-input-block">
                    @Html.DisplayFor(model => model.Pwd)
                </div>
            </div>
        </div>
    </form>

    <form asp-action="Delete">
        <input type="hidden" asp-for="UserId" />
        <p>
            <button class="layui-btn" type="submit">确认删除</button>
        </p> |
        <a asp-action="Index">返回列表</a>
    </form>
</div>
